body{
    background-color: white;
}
h1{
    text-align: center;
}

.button {
  margin:auto;
}
.inner-container{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: auto;
    width: 40%;
}

label{
    font-size: 32px;
    padding: 2px;
    margin: auto;
    color: black;
}

p{
        font-size: 32px;
        padding: 10px;
        margin: auto;
        color: black;
}

.register{
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-bottom: 20px ;
}
